<ion-view view-title="Sign-In" name="login-view" hide-back-button="true">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="authCtrl.data.u">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="authCtrl.data.p">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="authCtrl.login(authCtrl.data)">Login</button>
    <a ui-sref="signup">First time user? Sign Up now.</a>
  </ion-content>
</ion-view>